---
import BaseLayout from '../layouts/BaseLayout.astro'
import { type CollectionEntry, getCollection, render } from 'astro:content'
import { Picture } from 'astro:assets'

export async function getStaticPaths() {
  const posts = await getCollection('post')
  return posts.map((p) => ({
    params: { slug: p.id == 'index' ? import.meta.env.BASE_URL : p.id },
    props: p
  }))
}
type Props = CollectionEntry<'post'>

const post = Astro.props
const { Content } = await render(post)
const { data } = post
---

<BaseLayout {...data}>
  <article>
    <header class="text-center">
      <h1>{data.title}</h1>
      <Picture
        src={data.heroImage}
        alt={data.title}
        loading="eager"
        layout="constrained"
        fetchpriority="high"
        format="avif"
        formats={['avif', 'webp']}
        inferSize={true}
        class:list={['aspect-video rounded-lg shadow-sm/50', 'dark:shadow-sm/100']}
      />
    </header>
    <section class="my-4">
      <Content />
    </section>
    <footer class:list={['border-t border-neutral-200 text-sm', 'dark:border-neutral-700']}>
      <time datetime={data.pubDate.toISOString()}>
        <span>Publish On: </span>
        <span>{data.pubDate.toDateString()}</span>
      </time>
    </footer>
  </article>
</BaseLayout>
