---
import { getCollection } from 'astro:content'
import BaseLayout from '../layouts/BaseLayout.astro'
import { SITE } from '../consts'

const posts = (await getCollection('post')).filter((p) => p.id != 'index')
---

<BaseLayout
  title="Posts"
  pageType="website"
  tags={SITE.keywords}
  description={SITE.description}
  heroImage={SITE.heroImage}
  pubDate={new Date()}
  updatedDate={new Date()}
>
  <div class="not-prose">
    <ul class="text-purple-600 dark:text-purple-400 space-y-1">
      {
        posts.map((p) => (
          <li
            class:list={[
              'flex flex-wrap items-center justify-between',
              'border-b border-dashed border-purple-600 dark:border-purple-400'
            ]}
          >
            <a href={'/' + p.id}>{p.data.title}</a>
            <time datetime={p.data.pubDate.toISOString()}>{p.data.pubDate.toDateString()}</time>
          </li>
        ))
      }
    </ul>
  </div>
</BaseLayout>
