---
import type { CollectionEntry } from 'astro:content'
import { SITE } from '../consts'

import Head from '../components/Head.astro'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import Main from '../components/Main.astro'

type Props = CollectionEntry<'post'>['data']
const { title, pageType, description, pubDate, updatedDate, heroImage } = Astro.props
---

<!doctype html>
<html data-theme="dark" lang={SITE.langCode}>
  <head>
    <Head
      pageTitle={title}
      pageType={pageType}
      description={description}
      pubDate={pubDate}
      updatedDate={updatedDate}
      image={heroImage}
    />
  </head>
  <body
    class:list={[
      'font-sans',
      'bg-white text-neutral-700',
      'md:bg-neutral-50',
      'dark:bg-neutral-800 dark:text-neutral-300',
      'dark:md:bg-neutral-900'
    ]}
  >
    <div>
      <Header />
      <Main>
        <slot />
      </Main>
      <Footer />
    </div>
  </body>
</html>
