---
import type { CollectionEntry } from 'astro:content'
import Head from '../components/base/Head.astro'

type Props = CollectionEntry<'post'>['data']
const { title, pageType, description, pubDate, updatedDate, heroImage } = Astro.props
---

<!doctype html>
<html>
  <head>
    <Head
      pageTitle={title}
      pageType={pageType}
      description={description}
      pubDate={pubDate}
      updatedDate={updatedDate}
      image={heroImage}
    />
  </head>
  <body>
    <slot />
  </body>
</html>
